.container {
  width: 350px;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 8px 8px 35px 5px rgba(0,0,0,0.5);
}
.header{
    text-align: center;
    display: flex;
    gap: 9px;
    flex-direction: column;
    align-items: center; 
}
.text{
    color: #3c009d;
    font-size: 26px;
    font-weight: 700;
}
